/contract/node_modules
/contract/.env

# Hardhat files
/contract/cache
/contract/artifacts

# TypeChain files
/contract/typechain
/contract/typechain-types

# solidity-coverage files
/contract/coverage
/contract/coverage.json